.app {
  display: flex;
  flex-direction: row;
}

.form {
  flex: 1;
  padding: 10px 20px;
  background-color: aquamarine;
}

.info {
  flex: 1;
  padding: 10px 20px;
  background-color: salmon;
}

.wrap {
  margin: 15px 0;
}

.btns {
  width: 75%;
  display: flex;
}

.card {
  box-shadow: 1px 1px 5px grey;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.card > * {
  margin: 7px 0;
  /* padding: 3px 0; */
}

input {
  padding: 5px 0;
  font-size: 25px;
  width: 400px;
}

button {
  padding: 10px;
  width: 100px;
  flex: 1;
}
